<div class="license-section-page">
  <div class="license-key">
    <h5>License Key</h5>
    <div class="input">
      <input
        type="password"
        placeholder="License Key"
        value="*************************************************************************************"
      />
      <div class="icon">
        <fa-icon [icon]="faEye"> </fa-icon>
      </div>
      <button><h3>Deactivate License</h3></button>
    </div>
  </div>
  <div class="license-key">
    <h5>Discord Webhook</h5>
    <div class="input">
      <input
        type="password"
        placeholder="Discord Webhook"
        value="*********************************************"
      />
      <div class="icon">
        <fa-icon [icon]="faEye"> </fa-icon>
      </div>
      <button><h3>Test Webhook</h3></button>
    </div>
  </div>
</div>
