<div class="notification">
  <div class="title">
    <h1>Notifications</h1>
  </div>
  <div class="cards">
    <app-notification-card
      payment="true"
      productPrice="11"
    ></app-notification-card>
    <app-notification-card
      payment="false"
      productPrice="2.5"
    ></app-notification-card>
    <app-notification-card
      payment="true"
      productPrice="8"
    ></app-notification-card>
    <app-notification-card
      payment="true"
      productPrice="11"
    ></app-notification-card>
    <app-notification-card
      payment="false"
      productPrice="2.5"
    ></app-notification-card>
    <app-notification-card
      payment="false"
      productPrice="15"
    ></app-notification-card>
  </div>
</div>
