<nav class="navbar">
  <header>
    <img class="logo" src="../../../assets/logo.svg" alt="logo" />
    <div>
      <h3>Welcome back</h3>
      <h4>vasco#9999</h4>
    </div>
  </header>

  <div class="nav-body">
    <ul>
      <li>
        <fa-icon [icon]="faList"></fa-icon>
        <h3>Tasks</h3>
      </li>
      <li>
        <fa-icon [icon]="faUser"></fa-icon>
        <h3>Accounts</h3>
      </li>
      <li>
        <fa-icon [icon]="faHouseUser"></fa-icon>
        <h3>Profiles</h3>
      </li>
      <li>
        <fa-icon [icon]="faWifi"></fa-icon>
        <h3>Proxies</h3>
      </li>
      <li>
        <fa-icon [icon]="faCalendar"></fa-icon>
        <h3>Calendar</h3>
      </li>
      <li>
        <fa-icon [icon]="faCheckCircle"></fa-icon>
        <h3>Cops</h3>
      </li>
      <li>
        <fa-icon [icon]="faBoxOpen"></fa-icon>
        <h3>Orders</h3>
      </li>
      <li class="active">
        <fa-icon [icon]="faCog"></fa-icon>
        <h3>Settings</h3>
      </li>
    </ul>
  </div>

  <div class="nav-footer">
    <div class="logo">
      <fa-icon [icon]="faArrowUp"></fa-icon>
    </div>
    <div>
      <h3>Version</h3>
      <h4>v1.6.95</h4>
    </div>
  </div>
</nav>
