<div class="body">
  <nav class="body-nav">
    <div class="body-nav-title">
      <h2>Settings</h2>
      <p>manage your settings</p>
    </div>

    <div class="body-nav-quick-data">
      <ul>
        <li>
          <img
            src="../../../assets/btn-min.svg"
            id="min"
            (click)="minimizeWindow()"
          />
        </li>
      </ul>
    </div>

    <div class="close-min-btn">
      <ul>
        <li>
          <img
            src="../../../assets/btn-min.svg"
            id="min"
            (click)="minimizeWindow()"
          />
        </li>
        <li>
          <img src="../../../assets/btn-close.svg" (click)="closeWindow()" />
        </li>
      </ul>
    </div>
  </nav>
</div>
