<div class="body">
  <nav class="body-nav">
    <div class="body-nav-title">
      <h1>Settings</h1>
      <p>manage your settings</p>
    </div>

    <div class="body-nav-quick-data">
      <div class="data-info">Entries: <span class="output">0000</span></div>
      <div class="data-info">Poops: <span class="output">0000</span></div>
      <div class="data-info">
        Non Winning Entries: <span class="output">0000</span>
      </div>
      <div class="data-info">Failures: <span class="output">0000</span></div>
      <div class="data-info">Idle Tasks: <span class="output">0000</span></div>
    </div>

    <div class="body-nav-digital-lock">
      <app-digital-clock></app-digital-clock>
    </div>

    <div class="close-min-btn">
      <ul>
        <li>
          <img
            src="../../../assets/btn-min.svg"
            id="min"
            (click)="minimizeWindow()"
          />
        </li>
        <li>
          <img src="../../../assets/btn-close.svg" (click)="closeWindow()" />
        </li>
      </ul>
    </div>
  </nav>
</div>
