.body {
  height: fit-content;
  width: 80vw;

  .body-nav {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .body-nav-title {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      width: 12%;

      h1 {
        color: #ffffff;
        font-size: xx-large;
      }

      p {
        color: #999898;
      }
    }
  }

  .body-nav-quick-data {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    gap: 3px;

    .data-info {
      font-size: larger;
      color: #a9a9ab;
      margin: 5px;
      padding: 15px;
      background-color: #1d2027;
      border-radius: 7.5px;

      .output {
        color: #ffffff;
      }
    }
  }

  .body-nav-digital-lock {
    width: 8%;
  }

  .close-min-btn {
    width: 7%;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px;
      gap: 10px;

      li {
        margin-left: 8px;
        color: #cfcfcf;

        img {
          width: 15px;
          cursor: pointer;
        }
        img#min {
          padding: 10px;
        }
      }
    }
  }
}
